#perfil{
	width : 250px;
	height: 250px;
}
#titulo{
	margin: 10px; 
	text-align: justify;
	font-style: italic;
	display: inline;
	font-size: 50px; 
	vertical-align: 215px;

}
ol li{
	display: inline;
	margin: 10px;
	text-align: center;
	
}
.subTitulo{
	font-size: 40px;
	font-family: monospace;
	font-style: oblique;
}